Repository python-thread/thread, pull requests merged in 2023-12, with the labels that each got.

#15 Adding CLI
  .coverage
  poetry.lock
  pyproject.toml
  src/thread/__main__.py
  src/thread/cli/__init__.py
  src/thread/cli/base.py
  src/thread/cli/utils.py
  src/thread/config.py
  src/thread/thread.py
Labels: Type: Feature, Status: Waiting

#19 v0.1.3
  .coverage
  .github/workflows/test-worker.yml
  README.md
  docs/command-line.md
  docs/configuration.md
  docs/images/process_help.png
  docs/threading.md
  poetry.lock
  pyproject.toml
  requirements.txt
  src/thread/__init__.py
  src/thread/cli/__init__.py
  src/thread/cli/process.py
  src/thread/cli/utils.py
  src/thread/thread.py
  src/thread/utils/__init__.py
  src/thread/utils/config.py
  src/thread/utils/logging_config.py
Labels: Type: Enhancement, Type: Feature, Status: Awaiting Review, Priority: High +

#20 Removed vscode folder
  .gitignore
  .vscode/settings.json
Labels: Type: Enhancement, Priority: Low -

#21 Added CODESYTLE.md
  .github/CODESTYLE.md
  .github/CONTRIBUTING.md
Labels: Documentation

#25 Removing numpy
  poetry.lock
  pyproject.toml
  src/thread/thread.py
  src/thread/utils/__init__.py
  src/thread/utils/algorithm.py
  tests/test_parallelprocessing.py
Labels: Type: Enhancement

#27 Documentation update
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/workflows/release.yml
  README.md
  docs/getting-started.md
  pyproject.toml
  src/thread/cli/base.py
  src/thread/cli/process.py
Labels: Documentation

#31 Added decorators
  poetry.lock
  pyproject.toml
  src/thread/__init__.py
  src/thread/_types.py
  src/thread/decorators.py
  src/thread/exceptions.py
  src/thread/thread.py
  tests/test_decorator.py
Labels: Type: Feature

#33 Threaded Decorator Type-Safety
  src/thread/_types.py
  src/thread/decorators.py
  src/thread/thread.py
  tests/test_decorator.py
Labels: Type: Feature
